{% extends 'DataTag/base.html' %}

{% block title %}Main page{% endblock %}

{% block style %}
  .thumbnail.directory {
    min-height: 200px;
    min-width: 200px;
{% endblock %}

{% block breadcrumb %}
<li class="activate">Tag Browser</li>
{% endblock %}

{% block body %}
<div class="row">
  {% for tag in children %}
  <div class="col-xs-3 col-md-3">
    {% if tag.is_leaf %}
      <a href="{{ tag.get_absolute_url }}" class="thumbnail directory">{{ tag.name }}</a>
    {% else %}
      <a href="{{ tag.get_browse_url }}" class="thumbnail directory">{{ tag.name }}</a>
    {% endif %}
  </div>
  {% endfor %}
</div>
{% endblock %}
