{% extends 'DataTag/base.html' %}
{% load i18n static %}

{% block title %}{{ category }}{% endblock %}

{% block nav-categories %}active{% endblock %}

{% block style %}
  .caption {
    background: none repeat scroll 0 0 #dddddd;
    opacity: 0.5;
    margin: 0 auto;
    margin-top: 0px;
    text-align: left;
  }
{% endblock %}

{% block breadcrumb %}
<li><a href="{% url 'index' %}">{% trans "Home" %}</a></li>
<li class="activate">{% trans "Categories" %}</li>
{% endblock %}

{% block body %}
<div class="row">
{% for cat in categories %}
  {% if forloop.counter0|divisibleby:"4" and not forloop.first %}
</div>
<div class="row">
  {% endif %}
  <div class="col-xs-3 col-md-3">
    <div class="thumbnail">
      {% if cat.path %}
      <a href="{% url 'categories.details' cat.obj.name cat.path %}"><img class="lazy" data-original="{{ cat.thumbnail.get_absolute_url }}?size=small" /></a>
      <div class="caption"><a href="{% url 'categories.details' cat.obj.name cat.path %}">{{ cat.obj.name|truncatechars:25 }}</a>
      {% else %}
      <a href="{% url 'categories.details.root' cat.obj.name %}"><img class="lazy" data-original="{{ cat.thumbnail.get_absolute_url }}?size=small" /></a>
      <div class="caption"><a href="{% url 'categories.details.root' cat.obj.name %}">{{ cat.obj.name|truncatechars:25 }}</a>
      {% endif %}
        <div class="pull-right">
          <span class="badge">{{ cat.count }} <span class="glyphicon glyphicon-eye-open"></span></span>
        </div>
      </div>
    </div>
  </div>
{% endfor %}

</div>
{% endblock %}

{% block script %}
<script src="{% get_static_prefix %}DataTag/js/lazyload-v1.9.3.min.js"></script>
<script>
$(function() {
    $("img.lazy").lazyload();
})
</script>
{% endblock %}
