{% extends 'DataTag/base.html' %}

{% block title %}{{ tag.name }}{% endblock %}

{% block style %}
  .thumbnail.directory {
    min-height: 200px;
    min-width: 200px;
{% endblock %}

{% block breadcrumb %}
<li><a href="{% url 'index' %}">Home</a></li>
{% for tag in tags %}
  {% if forloop.last %}
    <li class="activate">{{ tag.obj.name }}</li>
  {% else %}
    <li><a href="{{ tag.path }}">{{ tag.obj.name }}</a></li>
  {% endif %}
{% endfor %}
{% endblock %}

{% block body %}
<div class="row">
  {% for tag in sub_tags %}
  {% if forloop.counter0|divisibleby:"4" and not forloop.first %}
</div>
<div class="row">
  {% endif %}
  <div class="col-xs-3 col-md-3">
    <a href="{{ tag.path }}" class="thumbnail directory"><img src="{{ tag.thumbnail.get_absolute_url }}?size=small" />{{ tag.obj.name }}</a>
  </div>
  {% endfor %}
</div>
{% endblock %}
