{% extends 'DataTag/base.html' %}
{% load i18n static %}

{% block title %}{% with tags|last as last_tag %}{{ last_tag.path|default:"/" }}{% endwith %}{% endblock %}

{% block nav-tags %}active{% endblock %}

{% block style %}
  .caption {
    background: none repeat scroll 0 0 #dddddd;
    opacity: 0.5;
    margin: 0 auto;
    margin-top: 0px;
    text-align: left;
  }
{% endblock %}

{% block breadcrumb %}
<li><a href="{% url 'index' %}">{% trans "Home" %}</a></li>
{% if tags %}
<li><a href="{% url 'tags.browse.root' %}">{% trans "Browse" %}</a></li>
{% for tag in tags %}
  {% if forloop.last %}
    <li class="activate">{{ tag.obj.get_name }}</li>
  {% else %}
    <li><a href="{% url 'tags.browse' tag.path %}">{{ tag.obj.get_name }}</a></li>
  {% endif %}
{% endfor %}
{% else %}
<li class="activate">{% trans "Browse" %}</li>
{% endif %}
{% endblock %}

{% block body %}
<div role="tabpanel">
  <ul role="tablist" class="nav nav-tabs">
    <li role="presentation"{% if not all_tags %} class="active"{% endif %}><a href=".">{% trans "Tags" %}</a></li>
    <li role="presentation"><a href="{% url 'categories.browse' %}{% if tags %}?path={% for tag in tags %}/{{ tag.obj.get_name }}{% endfor %}{% endif %}">{% trans "Categories" %}</a></li>
    <li role="presentation"{% if all_tags %} class="active"{% endif %}><a href=".?all=1">{% trans "All" %}</a></li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active">
      <div class="row">
        {% for tag in non_cat_tags %}
        {% if forloop.counter0|divisibleby:"4" and not forloop.first %}
      </div>
      <div class="row">
        {% endif %}
        <div class="col-xs-3 col-md-3">
          <div class="thumbnail">
            <a href="{% url 'tags.details' tag.path %}"{% if tag.obj.description %} title="{{ tag.obj.description }}"{% endif %}><img class="lazy" data-original="{{ tag.thumbnail.get_absolute_url }}?size=small" /></a>
            <div class="caption"><a href="{% url 'tags.browse' tag.path %}">{{ tag.obj.get_name|truncatechars:25 }}</a>
              <div class="pull-right">
                <span class="badge">{{ tag.count }} <span class="glyphicon glyphicon-eye-open"></span></span>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="{% get_static_prefix %}DataTag/js/lazyload-v1.9.3.min.js"></script>
<script>
$(function() {
    $("img.lazy").lazyload();
})
</script>
{% endblock %}
