{% extends 'DataTag/base.html' %}
{% load static %}

{% block title %}{% with tags|last as last_tag %}{{ last_tag.path|default:"/" }}{% endwith %}{% endblock %}

{% block nav-browse %}active{% endblock %}

{% block style %}
  .thumbnail.directory {
    min-height: 200px;
    min-width: 200px;
  }
  .caption {
    background: none repeat scroll 0 0 #dddddd;
    opacity: 0.5;
    margin: 0 auto;
    margin-top: 0px;
    text-align: left;
  }
{% endblock %}

{% block breadcrumb %}
<li><a href="{% url 'index' %}">Home</a></li>
<li><a href="{% url 'tags.browse.root' %}">Browse</a></li>
{% for tag in tags %}
  {% if forloop.last %}
    <li class="activate">{{ tag.obj.name }}</li>
  {% else %}
    <li><a href="{% url 'tags.browse' tag.path %}">{{ tag.obj.name }}</a></li>
  {% endif %}
{% endfor %}
{% endblock %}

{% block body %}
<div role="tabpanel">
  <ul role="tablist" class="nav nav-tabs">
{% if root_tags %}
    <li role="presentation" class="active"><a href="#Root" aria-controls="Root" role="tab" data-toggle="tab">Root</a></li>
    <li role="presentation"><a href="#Browse" aria-controls="Browse" role="tab" data-toggle="tab">Browse</a></li>
{% else %}
    <li role="presentation" class="active"><a href="#Browse" aria-controls="Browse" role="tab" data-toggle="tab">Browse</a></li>
{% endif %}
    <li role="presentation"><a href="#Cloud" aria-controls="Cloud" role="tab" data-toggle="tab">Cloud</a></li>
  </ul>

  <div class="tab-content">
{% if root_tags %}
    <div role="tabpanel" class="tab-pane active" id="Root">
      <div class="row">
        {% for tag in root_tags %}
        {% if forloop.counter0|divisibleby:"4" and not forloop.first %}
      </div>
      <div class="row">
        {% endif %}
        <div class="col-xs-3 col-md-3">
          <div class="thumbnail">
            <a href="{% url 'tags.details' tag.path %}"><img src="{{ tag.thumbnail.get_absolute_url }}?size=small" /></a>
            <div class="caption"><a href="{% url 'tags.browse' tag.path %}">{{ tag.obj.name|truncatechars:25 }}</a>
              <div class="pull-right">
                <span class="badge">{{ tag.count }} <span class="glyphicon glyphicon-eye-open"></span></span>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
{% endif %}

    <div role="tabpanel" class="tab-pane{% if not root_tags%} active{% endif %}" id="Browse">
      <div class="row">
        {% for tag in sub_tags %}
        {% if forloop.counter0|divisibleby:"4" and not forloop.first %}
      </div>
      <div class="row">
        {% endif %}
        <div class="col-xs-3 col-md-3">
          <div class="thumbnail">
            <a href="{% url 'tags.details' tag.path %}"><img src="{{ tag.thumbnail.get_absolute_url }}?size=small" /></a>
            <div class="caption"><a href="{% url 'tags.browse' tag.path %}">{{ tag.obj.name|truncatechars:25 }}</a>
              <div class="pull-right">
                <span class="badge">{{ tag.count }} <span class="glyphicon glyphicon-eye-open"></span></span>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="Cloud">
      <div class="row">
        <div class="col-md-12" id="tagcloud">
        {% for tag in sub_tags %}
          <a href="{% url 'tags.details' tag.path %}" rel="{{ tag.count }}">{{ tag.obj.name }}</a>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="{% get_static_prefix %}DataTag/js/tagcloud-h5c3040c.js"></script>
<script>
$.fn.tagcloud.defaults = {
  size: {start: 14, end: 50, unit: 'pt'},
  color: {start: '#abd', end: '#f52'}
};

$(function () {
  $('#tagcloud a').tagcloud();
});
</script>
{% endblock %}
