{% extends 'DataTag/base.html' %}
{% load i18n static %}

{% block title %}{% with tags|last as last_tag %}{{ last_tag.path|default:"/" }}{% endwith %}{% endblock %}

{% block head %}
<link href="{% get_static_prefix %}DataTag/css/lightbox-v2.7.1.css" rel="stylesheet" />
{% endblock %}

{% block breadcrumb %}
<li><a href="{% url 'index' %}">{% trans "Home" %}</a></li>
<li><a>{% trans "Tags" %}</a></li>
{% for tag in tags %}
  {% if forloop.last %}
    <li class="activate">{{ tag.obj.name }}</li>
  {% else %}
    <li><a href="{% url 'tags.details' tag.path %}">{{ tag.obj.name }}</a></li>
  {% endif %}
{% endfor %}
{% if medias|length < 200 %}
  <a href=".?download" class="pull-right"><span class="glyphicon glyphicon-download"></span> {% trans "Download" %}</a>
{% endif %}
{% endblock %}

{% block body %}
{% if tags|length == 1 and tags.0.obj.description %}
<div class="alert alert-info">
  <p>{{ tags.0.obj.description }}</p>
</div>
{% endif %}

<div class="row">
{% for media in medias %}
  {% if forloop.counter0|divisibleby:"4" and not forloop.first %}
</div>
<div class="row">
  {% endif %}
  <div class="col-xs-3 col-md-3">
    <a href="{{ media.get_absolute_url }}?size=medium" data-lightbox="current_tag" title="{{ media.description|default:media.basename }}" data-title="&lt;a href='{{ media.get_absolute_url }}'&gt;{{ media.description|default:media.basename }}&lt;/a&gt;" class="thumbnail"><img class="lazy" data-original="{{ media.get_absolute_url }}?size=small" /></a>
  </div>
{% endfor %}
</div>
{% endblock %}

{% block script %}
<script src="{% get_static_prefix %}DataTag/js/lightbox-v2.7.1.min.js"></script>
<script src="{% get_static_prefix %}DataTag/js/lazyload-v1.9.3.min.js"></script>
<script>
$(function() {
    $("img.lazy").lazyload();
})
</script>
{% endblock %}
